extends layout

block content
	header
		h1 E-Learning Lab FKTI
	nav
		ul
			li
				button(onclick="show('download')") Download
			li
				button(onclick="show('teskoding')") Tes Koding
			li
				button(onclick="show('chat')") Chat
			li
				button(onclick="show('submission')") Submission
			li
				button(onclick="show('about')") About
	include article/download
	include article/teskoding
	include article/chat
	include article/submission
	include article/about
	footer
		p Copyright &copy; 2018  
			b ASLAB FKTI
