doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Form Survey PBO
		link(rel="stylesheet", href="/stylesheets/style.css")
	body
		form
			fieldset
				legend Form Survey PBO | #{kelas}
				
				table
					tr
						td
							label(for="nama") Nama
						td :
						td
							input#nama(type="text")
					tr
						td
							label(for="nim") NIM
						td :
						td
							input#nim(type="text")
				br

				p Bagaimana Pendapat Kalian tentang "Kelompok Yang Selalu Bersama" di PBO?
				input(type="checkbox")
				span Menyusahkan...
				br
				input(type="checkbox")
				span Cukup Membantu
				br
				input(type="checkbox")
				span The Best
				br

				p Bagaimana Pendapat Kalian tentang "Mode Responsi" di PBO?
				input(type="checkbox")
				span Tidak Berguna
				br
				input(type="checkbox")
				span Cukup Membantu
				br
				input(type="checkbox")
				span Terbaik
				br

				p Apakah Hal Tersebut Masih Layak untuk dilanjutkan?
				input(type="checkbox")
				span Tentu saja!
				br
				input(type="checkbox")
				span Mungkin, masih pantas untuk dicoba...
				br 
				input(type="checkbox")
				span Hentikan! Sebaiknya praktikum berjalan seperti biasa saja
				br

				p Bagaimana dengan "Postest Menggunakan GIT"?
				input(type="checkbox")
				span Nyusahin...
				br
				input(type="checkbox")
				span Bodo amat lah, Yang penting ngumpul
				br
				input(type="checkbox")
				span Suka sekali, saya jadi mendapat ilmu yang baru
				br

				p Masih mau lanjut Postest pakai GIT?
				input(type="checkbox")
				span Oke!!!
				br
				input(type="checkbox")
				span Di lanjutin aja lah... Sekalian belajar...
				br 
				input(type="checkbox")
				span Stop aja! Mending kirim pake email aja kayak dulu
				br

				each asisten in aslab
					p Apa yang kurang dari #{asisten}
					textarea(cols="100%", rows="3")
				
				p Apa yang ingin kau sampaikan ke kami para aslab?
				textarea(cols="100%", rows="3")
				