article#about
  section.about
    h1 Aldi Nur Hendra
    p Asisten Lab Praktikum Pemrograman Berbasis Objek
    b Java :
    pre System.out.println("Hello, world!");
  section.about
    h1 Rofi Indrawan
    p Asisten Lab Praktikum Pemrograman Web
    b HTML :
    pre &lt;p&gt;Hello, world!&lt;/p&gt;
  section.about
    h1 Fania Prita Irgadanti
    p Asisten Lab Praktikum Basis Data
    b SQL :
    pre SELECT * FROM hello_world;
