article#download
  h3 Download
  nav
    ul
      li
        button.filter.filter-semua(onclick="filter('semua')") semua
      li
        button.filter.filter-praktikum(onclick="filter('praktikum')") praktikum
      li
        button.filter.filter-text-editor(onclick="filter('text-editor')") text-editor
      li
        button.filter.filter-programming(onclick="filter('programming')") programming
      li
        button.filter.filter-lainnya(onclick="filter('lainnya')") lainnya
      li
        button(onclick="filter('modul')") modul
  section.praktikum.text-editor
    h3 JDK8 + Netbeans 8.2 
      small (RECOMMENDED)
    p Paket IDE Netbeans dan JDK
    div
      div.download-button
        a(href="/files/apps/jdk-8u111-nb-8_2-windows-i586.exe")
          button x86
        span  Size : 332.6 MB
      div.download-button
        a(href="/files/apps/jdk-8u111-nb-8_2-windows-x64.exe")
          button x64
        span  Size : 341.9 MB
  section.praktikum.programming
    h3 Java Development Kit versi 8 (JDK)
    p Tools yang di butuhkan untuk menjalankan program Java
    div
      div.download-button
        a(href="/files/apps/jdk-8u181-windows-i586.exe")
          button x86
        span  Size : 203.9 MB
      div.download-button
        a(href="/files/apps/jdk-8u181-windows-x64.exe")
          button x64
        span  Size : 212.6 MB
  section.praktikum.text-editor
    h3 Netbeans 8.2
    p IDE untuk ngoding bahasa Java
    div
      div.download-button
        a(href="/files/apps/netbeans-8.2-javase-windows.exe")
          button Java SE
        span  Size : 98.6 MB
      div.download-button
        a(href="/files/apps/netbeans-8.2-windows.exe")
          button Full Feature
        span  Size : 230.9 MB
  section.praktikum.text-editor
    h3 Netbeans 8.2 (Bahasa Indonesia)
    p IDE untuk ngoding bahasa Java
    div
      div.download-button
        a(href="/files/apps/netbeans-id-8.2-javase-windows.exe")
          button Java SE
        span  Size : 103.8 MB
      div.download-button
        a(href="/files/apps/netbeans-id-8.2-windows.exe")
          button Full Feature
        span  Size : 232.0 MB
  section.praktikum.programming
    h3 XAMPP
    p Bundle aplikasi untuk pemrograman web
    div
      div.download-button
        a(href="/files/apps/xampp-win32-7.2.9-0-VC15-installer.exe")
          button x86
        span  Size : 129.6 MB
  section.praktikum.lainnya
    h3 Git
    p Version Control System, Untuk kolaborasi antar developer
    div
      div.download-button
        a(href="/files/apps/Git-2.19.0-32-bit.exe")
          button x86
        span  Size : 34.3 MB
      div.download-button
        a(href="/files/apps/Git-2.19.0-64-bit.exe")
          button x64
        span  Size : 34.4 MB
  section.text-editor
    h3 Visual Studio Code
    p Text Editor dengan berbagai kegunaan
    div
      div.download-button
        a(href="/files/apps/VSCodeSetup-ia32-1.27.2.exe")
          button x86
        span  Size : 38.5 MB
      div.download-button
        a(href="/files/apps/VSCodeSetup-x64-1.27.2.exe")
          button x64
        span  Size : 45.2 MB
  section.text-editor
    h3 Sublime
    p Text Editor ringan dan powerfull
    div
      div.download-button
        a(href="/files/apps/Sublime Text Build 3176 Setup.exe")
          button x86
        span  Size : 8.3 MB
      div.download-button
        a(href="/files/apps/Sublime Text Build 3176 x64 Setup.exe")
          button x64
        span  Size : 9.1 MB
  section.text-editor
    h3 Notepad++
    p Text Editor super ringan
    div
      div.download-button
        a(href="/files/apps/npp.7.5.8.Installer.exe")
          button x86
        span  Size : 4.3 MB
      div.download-button
        a(href="/files/apps/npp.7.5.8.Installer.x64.exe")
          button x64
        span  Size : 4.6 MB
  section.lainnya.text-editor
    h3 Netbeans 9.0
    p IDE Netbeans versi terbaru
    div
      div.download-button
        a(href="/files/apps/incubating-netbeans-java-9.0-bin.zip")
          button Download
        span  Size : 169.3 MB
  section.lainnya.programming
    h3 Node JS
    p Runtime environment untuk menjalakan program Javascript
    div
      div.download-button
        a(href="/files/apps/node-v8.12.0-x86.msi")
          button x86
        span  Size : 14.7 MB
      div.download-button
        a(href="/files/apps/node-v8.12.0-x64.msi")
          button x64
        span  Size : 16.4 MB
  section.lainnya.programming
    h3 Python 3.7.0
    p Runtime environment untuk menjalakan Bahasa Pemrograman Python
    div
      div.download-button
        a(href="/files/apps/python-3.7.0.exe")
          button x86
        span  Size : 25.5 MB
      div.download-button
        a(href="/files/apps/python-3.7.0-amd64.exe")
          button x64
        span  Size : 26.3 MB
  section.lainnya.programming
    h3 Ruby Installer
    p Runtime environment untuk menjalakan Bahasa Pemrograman Ruby
    div
      div.download-button
        a(href="/files/apps/rubyinstaller-devkit-2.4.4-2-x86.exe")
          button x86
        span  Size : 116.2 MB
      div.download-button
        a(href="/files/apps/rubyinstaller-devkit-2.4.4-2-x64.exe")
          button x64
        span  Size : 120.1 MB
  section.modul.hidden
    h3 Modul PBO
    p Bundle Modul Praktikum Pemrograman Berbasis Objek
    div
      div.download-button
        a(href="/files/modules/pbo/Modul PBO.zip")
          button Download
        span  Size : 553.7 KB
  section.modul.hidden
    h3 Modul PWeb
    p Bundle Modul Praktikum Pemrograman Web
    div
      div.download-button
        a(href="/files/modules/pweb/MODUL P WEB 2018.rar")
          button Download
        span  Size : 8.9 MB
  section.modul
    h3 Modul 1 PBO
    p Bahasa Pemrograman Java
    div
      div.download-button
        a(href="/files/modules/pbo/Modul-PBO_1.pdf")
          button Download
        span  Size : 71.7 KB
  section.modul
    h3 Modul 2 PBO
    p Class dan Objek part 1
    div
      div.download-button
        a(href="/files/modules/pbo/Modul-PBO_2.pdf")
          button Download
        span  Size : 57.1 KB
  section.modul.hidden
    h3 Modul 3 PBO
    p Class dan Objek part 2
    div
      div.download-button
        a(href="/files/modules/pbo/Modul-PBO_3.pdf")
          button Download
        span  Size : 66.9 KB
  section.modul.hidden
    h3 Modul 4 PBO
    p Enkapsulasi
    div
      div.download-button
        a(href="/files/modules/pbo/Modul-PBO_4.pdf")
          button Download
        span  Size : 63.3 KB
  section.modul.hidden
    h3 Modul 5 PBO
    p Packaging
    div
      div.download-button
        a(href="/files/modules/pbo/Modul-PBO_5.pdf")
          button Download
        span  Size : 61.3 KB
  section.modul.hidden
    h3 Modul 6 PBO
    p Inheritance
    div
      div.download-button
        a(href="/files/modules/pbo/Modul-PBO_6.pdf")
          button Download
        span  Size : 66.1 KB
  section.modul.hidden
    h3 Modul 7 PBO
    p Polymorphism
    div
      div.download-button
        a(href="/files/modules/pbo/Modul-PBO_7.pdf")
          button Download
        span  Size : 65.6 KB
  section.modul.hidden
    h3 Modul 8 PBO
    p Abstraction
    div
      div.download-button
        a(href="/files/modules/pbo/Modul-PBO_8.pdf")
          button Download
        span  Size : 67.1 KB
  section.modul.hidden
    h3 Modul 9 PBO
    p Exception
    div
      div.download-button
        a(href="/files/modules/pbo/Modul-PBO_9.pdf")
          button Download
        span  Size : 65.8 KB
  section.modul
    h3 Modul 1 PWeb
    p Dasar-dasar HTML
    div
      div.download-button
        a(href="/files/modules/pweb/Modul 1_Dasar-Dasar HTML.pdf")
          button Download
        span  Size : 1.6 MB
  section.modul
    h3 Modul 2 PWeb
    p Link, Frame dan Table
    div
      div.download-button
        a(href="/files/modules/pweb/Modul 2_Link, Frame dan Table.pdf")
          button Download
        span  Size : 1.0 MB
  section.modul.hidden
    h3 Modul 3 PWeb
    p Form dan Gambar
    div
      div.download-button
        a(href="/files/modules/pweb/Modul 3_Form Dan Gambar.pdf")
          button Download
        span  Size : 1.3 MB
  section.modul.hidden
    h3 Modul 4 PWeb
    p Cascading Style Sheet
    div
      div.download-button
        a(href="/files/modules/pweb/Modul 4_Cascading Stylesheet.pdf")
          button Download
        span  Size : 932.4 KB
  section.modul.hidden
    h3 Modul 5 PWeb
    p Dasar PHP
    div
      div.download-button
        a(href="/files/modules/pweb/Modul 5_Dasar PHP.pdf")
          button Download
        span  Size : 1.1 MB
  section.modul.hidden
    h3 Modul 6 PWeb
    p Kontrol Kondisi
    div
      div.download-button
        a(href="/files/modules/pweb/Modul 6_Kontrol Kondisi.pdf")
          button Download
        span  Size : 1.1 MB
  section.modul.hidden
    h3 Modul 7 PWeb
    p Database
    div
      div.download-button
        a(href="/files/modules/pweb/Modul 7_Database.pdf")
          button Download
        span  Size : 983.2 KB
  section.modul.hidden
    h3 Modul 8 PWeb
    p Session dan Security
    div
      div.download-button
        a(href="/files/modules/pweb/Modul 8_Session dan Security.pdf")
          button Download
        span  Size : 700.5 KB
  section.modul.hidden
    h3 Modul 9 PWeb
    p Hosting
    div
      div.download-button
        a(href="/files/modules/pweb/Modul 9_Hosting.pdf")
          button Download
        span  Size : 1.6 MB
