article#submission
  h1 Submission
  div.tambah-tugas
    h3 Tambah Tugas
    textarea#tambah-tugas(name="tugas", rows="5")
    button Tambah
  div.list-tugas
    
    h4 Tugas 1
    p deskripsi
    textarea#submit(name="kirim-tugas", rows="5")
    button kirim