article#submission
  h1 Submission
  #submission-add
    h3 Tambah Tugas
    input#submission-title(type="text", placeholder="Judul")
    textarea#submission-text(name="tugas", rows="5", placeholder="Deskripsi")
    button#submission-button Tambah
  #submission-list
    .submission-item
      h4 Tugas 1
      p Deskripsi
      textarea(rows="5")
      button.submission-submit Kirim Jawaban
    .submission-item
      h4 Tugas 2
      p Deskripsi
      textarea(rows="5", disabled="disabled")
      button.submission-submit(disabled="disabled") Jawaban Terkirim
