article#teskoding
  h1 Tes Ngoding
  select#bahasa(name="PL")
    option(value="java") Java
    option(value="c++") C++
    option(value="python") Python
    option(value="ruby") Ruby
    option(value="node.js") Node.js
  button#run Jalankan
  div
    .label Input : 
    textarea#input-bahasa(name="input", rows="20")
  div
    .label Output : 
    textarea#output-bahasa(name="output", rows="10", disabled="disabled")
